.body-style {
  margin: 0;
  font-family: "Roboto";
  background-color: "f0f2f5";
  color: #333;
} 

.heading {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-email {
  width: 100%;
  padding: 8px;
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #0056b3;
}